.usersPhoto {
    width: 80px;
    height: 80px;
}
.usersPage {
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
    font-size: 25px;
}

.loader {
    text-align: center;
    margin: 25px;
}
