.nav {
    background-color: #708fa7;
    grid-area: n;
    text-align: center;
    padding: 10px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLick {
    color: goldenrod;
}
